.wrap{
    /*min-width: 1080px;*/
}
.home_nav{
    height: 50px;
    line-height: 50px;
    background-color: #3385FF;
    text-align: center;
    color: #fff;
}
.nav_name{
    width: 200px;
}
.nav_user{
    width: 100px;
    position: relative;
}
.nav_user p{
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.nav_user .icon-before-text {
    background-image: url(../../../assets/images/user.svg);
}
.dropdown-menu{
    position: absolute;
    right: 0;
    padding: 10px 0;
    min-width: 120px;
    margin: 8px 5px 5px 0;
    background-color: #fff;
    border: 1px solid #ebeef5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 5;
}
.dropdown-menu li{
    list-style: none;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    color: #606266;
    cursor: pointer;
    outline: 0;
}
.dropdown-menu li:hover{
    background-color: #ecf5ff;
    color: #66b1ff;
}
.home_body{
    position: relative;
}
.home_menu{
    width: 200px;
    background: #fff;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
}
.home_menu .menu_wrap{
    width: 217px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
.home_menu .menu{
    display: block;
    padding: 15px 30px;
    text-align: left;
    color: #000;
}
.home_menu .menu .icon-before-text{
    background-image: url(../../../assets/images/menu.svg);
    margin-right: 15px;
}
.home_menu .menu:hover{
    background-color: #ecf5ff;
    color: #66b1ff;
}
.home_content{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 200px;
    right: 0;
    background: #EDF0F5;
}
.outer_container{
    overflow: hidden;
    height: 100%;
    position: relative;
    margin: 0 15px;
    background: #fff;
}
.inner_container{
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    left: 0;
    right: -17px;
    padding: 15px 20px;
    box-sizing: border-box;
}
/*带边框尖角样式*/
.popper__arrow, .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-width: 0;
}
.popper__arrow {
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom-color: #ebeef5;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}
.popper__arrow::after {
    content: " ";
    margin-left: -6px; /*让两个三角重合*/
    top: 1px; /*向下偏移，制造边框*/
    border-bottom-color: #fff;
}